{{ define "main" }}

<section class="section case-details">
  <div class="svg-img">
    <img src="{{ "images/hero/figure-svg.svg" | absURL }}" alt="" />
  </div>
  <div class="animate-shape">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
      <defs>
        <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#f1f9f5" />
          <stop offset="1" stop-color="#f1f9f5" stop-opacity="0" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="animate-pattern">
    <img src="{{ "images/service/background-pattern.svg" | absURL }}" alt="background-shape" />
  </div>
  <div class="container">
      <div class="text-center">
        <div class="case-details-title">
          <h1>{{ .Title }}</h1>
        </div>
        
        <div class="case-details-title" style="font-style: italic;">
          {{ .Params.shortDescription }}
        </div>
      </div>

      <div class="text-center">
        <img src="{{ .Params.image | absURL }}" alt="case-details" />
      </div>

      <div class="mt-5" style="text-align: justify">
        {{ .Content }}
      </div>
  </div>
</section>
{{ end }}